body{
  font: 15px/1.5 Arial, Helvetica, sans-serif;
  padding: 0;
  margin: 0;
  background-color: #ffffff;
}

/* Global */
.container{
  width: 80%;
  margin: auto;
  overflow: hidden;
}

/* Header */
header{
  background:#822222;
  color: #ffffff;
  padding-top: 30px;
  min-height: 70px;
  border-bottom: #4e4e50 3px solid;
  border-top: #4e4e50 3px solid;

}

header a{
  color:#ffffff;
  text-decoration: none;
  text-transform: uppercase;
  font-size: 16px;
}
header #index{
  color:#ffffff;
  text-decoration: none;
  text-transform: none;
  font-size: 40px;
}

header li{
  float:left;
  display:inline;
  padding: 0 20px 0 20px;
}

header #branding{
  float: left;
}

header #branding h1{
  margin: 0px;
}

header nav{
  float: right;
  margin-top: 10px;
}

header .highlight, header .current a{
  color: #eeeeee;
  font-weight: bold;
}

header a:hover{
  color: #4e4e50;
  font-weight: bold;
}


/* Sidebar */
aside#sidebar{
  float: right;
  width: 30%;
  margin-top: 60px;
  border: #4e4e50 solid 15px;
  background: #4e4e50;
  color: #ffffff;
}

aside#sidebar .quote input, aside#sidebar .quote textarea{
  width: 90%;
  padding: 5px;
}

div.user-input{
  margin-bottom: 20px;
}

#message{
  height: 50px;
}
#quote-title{
  font-size: 25px;
  display: inline;
}

/* Main-col */

article#main-col{
  float:left;
  width: 55%;
}

/* Services */
ul#services li{
  list-style: none;
  padding: 20px;
  border: #4e4e50 solid 1px;
  margin-bottom: 20px;
  background: #e6e6e6;
}

/* About */
ul#specialties li{
  list-style-type: disc;
  margin-left: 30px;
  padding: 5px;
}
aside#about-sidebar{
  float: right;
  width: 25%;
  margin-top: 40px;
  border: #4e4e50 solid 5px;
  padding: 5px 5px 0px 5px;
  background: #4e4e50; 
}
 .kevin{
  width:100%;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  text-align: center;
 }

/* Footer */

footer{
  padding: 5px;
  margin-top: 5px;
  color: #ffffff;
  background-color: #4e4e50;
  text-align: center;
}

/* Media Quiries 
@media(max-width: 768px){
  header #branding,
  header nav,
  header nav li,
  #newsletter h1,
  #newsletter form,
  #boxes .box,
  article#main-col,
  aside#sidebar,
  {
    float: none;
    text-align: center;
    width: 100%;
  }

  header{
    padding-bottom: 20px;
  }

  #showcase h1{
    margin-top: 40px;
  }

  #newsletter button, quote button{
    display: block;
    width: 100%;
  }

  #newsletter form input [type = "email"], .quote input, .quote textarea{
    width: 100%;
    margin-bottom: 5px;
  } */